@import "./../../common.scss";

$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray_light:                #cccccc;
$gray_lighter:              #ececec;
$gray_lightest:             lighten($gray_lighter,4%);

.modal__card,
.modal__card::before,
.modal__card::after { 
  box-sizing: border-box;
}

.favouriteText {
    text-align: center;
}

.modal__buttons_container{
    width: 100%;
    .modal__button {
        /* Size and position */
        width: 100%;
        height: 100%;
        margin-top: 12px;
    
        /* Icon styles */
        font-size: $med-high-text;
        line-height: 1.75;
        color: $shadow-2;
    
        /* Styles */
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background: linear-gradient($colour-4-nine, $colour-4);
        box-shadow: 
            inset 0 1px 0 $shadow-6,
            0 1px 2px $shadow-1,
            inset 0 3px 2px $shadow-5,
            inset 0 -3px 2px $shadow-1;

        &:hover {
            color: $color-hover;
        }
    }
}

.modal__cards__item {
  display: flex;
  padding: 1rem;
  height: fit-content;
  @media(min-width: 30rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 100%;
  }

  .modal__image {
        @media(min-width: 56rem) {
            position: relative;
            max-width: 60%;
            width: 60%;
            margin: 0 20% 0 20%;
            transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
        }
    }
}

.modal__card__title {
  color: $gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}