@import "./../colours";

@media all and (min-width: 480px) {

    .Login {
        margin-top: 300px;
        padding: 60px 0;

        form {
            margin: 0 auto;
            max-width: 320px;

            button {
                position: relative;
                margin: 15px 0 5px 0;
                left: 50%;
                transform: translateX(-50%);
                border: none;
                border-radius: 5px;
                padding: 10px;
                color: white;
                width: 85%;
                font-size: 14px;
                cursor: pointer; 
                background-color: $header-colour;
                &:disabled {
                    background-color: rgba(128, 128, 128, 0.250);
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}